name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # permite lanzarlo manualmente desde GitHub

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Cache buildozer global directory
      uses: actions/cache@v4
      with:
        path: ~/.buildozer
        key: buildozer-${{ hashFiles('buildozer.spec') }}
        restore-keys: buildozer-

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          git zip unzip \
          openjdk-17-jdk \
          autoconf libtool pkg-config \
          zlib1g-dev libncurses5-dev libncursesw5-dev \
          cmake libffi-dev libssl-dev \
          libltdl-dev gettext

    - name: Install buildozer
      run: pip install buildozer==1.5.0 cython==0.29.33

    - name: Accept Android SDK licenses
      run: |
        mkdir -p ~/.buildozer/android/platform/android-sdk/licenses
        printf "24333f8a63b6825ea9c5514f83c2829b004d1fee\nd56f5187479451eabf01fb78af6dfcb131a6481e\n8933bad161af4178b1185d1a37fbf41ea5269c55\n" \
          > ~/.buildozer/android/platform/android-sdk/licenses/android-sdk-license
        printf "84831b9409646a918e30573bab4c9c91346d8abd\n504667f4c0de7af1a06de9f4b1727b84351f2910\n" \
          > ~/.buildozer/android/platform/android-sdk/licenses/android-sdk-preview-license

    - name: Build APK
      run: buildozer -v android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: ScanApp-debug
        path: bin/*.apk
        retention-days: 7
